@import "tailwindcss";

@theme {
    --color-gold-50: #fbf8eb;
    --color-gold-100: #f5eecb;
    --color-gold-200: #ecdba0;
    --color-gold-300: #e1c26c;
    --color-gold-400: #d9ad47;
    --color-gold-500: #d4AF37;
    --color-gold-600: #b88d2a;
    --color-gold-700: #956b23;
    --color-gold-800: #7a5621;
    --color-gold-900: #67481f;
    --color-gold-950: #3a270f;

    --font-serif: var(--font-playfair), serif;
    --font-sans: var(--font-inter), sans-serif;
}

:root {
    --background: #ffffff;
    --foreground: #1a1a1a;
}